html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
    border: solid black 2px;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }

  #violet{
    background: violet;
  }

  #black{
    background: rgb(8, 8, 8);
    border: solid white 3px;
  }
  